<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
</head>
<body>
	<div id="app">
		<ul>
			<li v-for="(val,index) in arr">
				{{val}},{{index}}
			</li>
		</ul>
<p v-for="n in 3"> {{n}}</p>

	
<template v-for="n in 3">
	<p>2</p>
	<span>1</span>
	<h1>3</h1>
</template>


	</div>
</body>
<script src="vue.js"></script>
<script>
	var vm = new Vue({
		el:'#app',
		data:{
			arr:[1,2,3,4,5]
		}
	});
</script>
</html>